<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<title>Smoke Log</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery//2.1.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	</head>
	<h1>Detection History</h1>
	<center>
		
	</center>
	<body onload="go()">
				
		
		<script type='text/javascript'>
			google.charts.load('current', {'packages':['timeline']});
			google.charts.setOnLoadCallback(drawChart);
			//create empty array as a global
			var chartData = [];
			//This function is called when the page loads
			function go(){
				goTime = new Date();
				console.log('It\'s Go Time! '+goTime);
				getData();
				setInterval(function() {
					xTime = new Date();
					console.clear();
					console.log('Update Initiated: '+xTime);
					getData();
				}, 60000);
			}
			//grabs the data from the sqlData app.route and pushes it into an array
			function getData(){
				//Clear the array first
				chartData = [];
				$.getJSON('/sqlData', function(chartJSON) {
					console.log(chartJSON);
					for (i = 0; i < chartJSON.length; i++){
						chartData.push([new Date(chartJSON[i].Date), chartJSON[i].Smoke]);
					};
					console.log(chartData);
					drawChart();
				});
			}
			function drawChart() {
				var container = document.getElementById('timeline');
				var chart = new google.visualization.Timeline(container);
				var dataTable = new google.visualization.DataTable();

				dataTable.addColumn({ type: 'string', id: 'reading' });
				dataTable.addColumn({ type: 'datetime', id: 'Start of detection' });
				dataTable.addColumn({ type: 'datetime', id: 'End of detection' });
				dataTable.addRows([
					for i in chartData:
					[ 'smoke detected', new Date(chartData[i]), new Date(chartData[i]) ]]);
				chart.draw(dataTable);
			}
	        
	        
		</script>
		<div id="timeline" style="height: 180px, width: 400px;"></div>		

	</body>

</html>
